/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top:2rem ;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#fe5b3d;
    --second-color:#ffac38;
    --text-color:#444;
    --gradient:Linear-gradient(#fe5b3d,#ffac38)
}
/* custom scroll bar */
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background:transparent;
}
html::-webkit-scrollbar-thumb{
    background:var(--main-color);
    border-radius: 5rem;

}
section{
    padding: 50px 100px;

}
header{
    position: fixed;
    width: 100%;
    height: 80px;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(228, 221, 221);
    padding: 15px 100px;
}

/* logo */
.logo{
    color: #474fa0;
    font-weight: 500;
    font-size: 1.5rem;
    
}
.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left:0;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;

}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color:var(--text-color);
    font-weight: 500;
}
.header-btn .sign-in{
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover{
    background: var(--main-color);
}
.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(../../row/img/bike2.png);
    background-repeat: no-repeat;
    background-position: center right;
    /* background-size: cover; */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    /* background-color: rgba(238, 238, 238, 0.925);
    border-radius: 40px; */
}

.text h1{
    font-size: 3.5rem;
    letter-spacing: 2px;

}
.text span{
    color:var(--main-color);
}
.text p{
    margin: 00.5rem 0 1rem;
}
.p-btn a{
    padding: 10px 20px;
    color:var(--text-color);
}
.p-btn  .read{
    color: #fff;
    background-color: #474fa0;
    border-radius: 15px;
    transition: 0.5s;
}
.p-btn .read:hover{
   background-color: var(--main-color);
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    text-transform: uppercase;
}
.heading h1{
    font-size: 2rem;

}

/* ride-content */

.ride-content{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
    /* background-color: rgba(179, 109, 66, 0.116); */
    border-radius: 30px;

}

.ride-content .box{
    text-align: center;
    padding: 20px;

}
.ride-content .box .bx{
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: var(--main-color);
}
.ride-content .box h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem;

}
/* boxicon hover */
.ride-content .box .bx:hover,
.ride-content .box .bxs-calendar-check{
    background: var(--gradient);
    color: #fff;
}

/* servics content */

.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.service-content .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0,0,0,0.1);
}
.service-content .box .box-img{
    width: 100%;
    height: 200px;

}
.service-content .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.service-content .box p{
    padding: 0,10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}
.service-content .box h3{
    font-weight: 500;

}
.service-content .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}
.service-content .box h2 span{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}
.service-content .box .btn{
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}
.service-content .box .btn:hover{
    background: var(--main-color);
}


/* About Us */

.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    /* margin-top: 1rem; */
}
.about-img img{
    width: 60%;
    height: 10%;

}

.about-content{
    
    /* border-radius: 60px; */
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.137);
}

.about-content img{
    /* width: 100%; */
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.418);
}


.about-text span{
    font-size: 25px;
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
}
.about-text p{
    margin: 0.5rem 0 1.4rem;

}

.about-text .btn{
    padding: 10px 20px;
    background: #474fa0;
    color:#fff;
    border-radius: 0.5rem;
    transition: 0.5s;
}
.about-text .btn:hover{
    background: var(--main-color);
}

/* review */

.reviews-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;

}

.rev-img{
    width: 70px;
    height: 70px;

}
.rev-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}
.reviews-content .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}
.reviews-content .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;

}
.reviews-content .box p{
    font-style: italic;

}
.reviews-content .box .star .bx{
    color: var(--main-color);
}





/* footer */

.footer{
    background-color: #262626;
    box-sizing: border-box;
  
    padding: 20px;

}

.content {
    max-width:80%;
    margin:auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;

}

.column {
    width:25% ;
    padding: 1;

}

.column h2 {
    color:white;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.column h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:var(--main-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.column p{
    color: #bbbbbb;
    margin-bottom: 30px;
}

.column .icon a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.3s;

}
.column .icon a i{
    width: 30px;
    height: 60px;
}



.column ul li{
    margin-bottom: 10px;
}

.column ul li a{
    text-decoration: none;
    font-size: 16px;
    color:#bbbbbb;
    transition: all 0.3s;
}

.column ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
    
}
.column .icon a:hover{
    color:#e1e3e7 ;
    background-color: var(--main-color);

}


.footerBottom{
    text-align: center;
   
}

.footerBottom p{
    color: white;
}
.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}



/* Responsive */


@media (max-width:991px){
    header{
        padding: 18px 40px;
    }
    section{
        padding: 50px 40px;
    }
}

@media (max-width:768px){
    header{
        padding: 11px 40px;
    }
    #menu-icon{
        display: initial;
    }
    .sign-up{
        display: none;
    }
    .text h1{
        font-size: 2.5rem;
    }
    .home{
        grid-template-columns: 1fr;
        
    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgba(0, 0,0,0.1);
        transition: 0.2s;
        text-align: left;
    }
    .navbar .active{
        top: 500%;

    }
    .navbar a{
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;
    }
    .navbar a:hover{
        color: #fff;
        background: var(--main-color);
        border: none;

    }
    .navbar a::after{
        display: none;

    }
    .heading span{
        font-size: 0.9rem;
        font-weight: 600;

    }
    .heading h1{
        font-size: 1.3rem;

    }
    .about-content{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        padding: 1rem;
        order: 2;
    }
}
@media (max-width: 350px){
    header{
        padding: 3px 40px;
    }
    section{
        padding: 50px 14px;
    }
    /* more effect*/



    




}




